<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let message of displayMessages">
    <ion-card-header>
      <ion-card-title>{{message.from}}</ion-card-title>
      <span><sup class="date">{{message.createdOn | date:'dd-MMM-yy hh:mm'}}</sup></span>
      <ion-card-content *ngIf="message.imageUrl">
        <ion-img src="{{message.imageUrl}}" alt=""></ion-img>
      </ion-card-content>
      <ion-card-subtitle>{{message.text}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-header>
      <ion-card-title>{{message.text}}</ion-card-title>
      <ion-card-subtitle>{{message.from}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>