<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"> Friend's Name:</ion-label>
        <ion-input [(ngModel)]="friend.name" name="name"></ion-input>
      </ion-item>

      <ion-button (click)="onSave()" class="main-button" expand="block" color="primary">Register Friend</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let friend of myFriends">
        <ion-icon name="person-outline" color="secondary"></ion-icon>{{friend.name}}
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>